<div class="container">
  <div class="ui-g">

      <form autocomplete="off" (ngSubmit)="pesquisar()">
    <div class="ui-g-12">
      <h1>Pessoas</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Nome</label>
      <input type="text" pInputText name="nome" [(ngModel)]="filtro.nome">
    </div>

    <div class="ui-g-12">
      <button type="submit" pButton label="Pesquisar"></button>
    </div>
   </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
         <p-table [value]="pessoas" [paginator]="true"
            [rows]="filtro.itensPorPagina" [responsive]="true"
            [lazy]="true" [totalRecords]="totalRegistros"
            (onLazyLoad)="aoMudarPagina($event)" #tabela>

         <ng-template pTemplate="header">
            <tr>
               <th>Nome</th>
               <th>Cidade</th>
               <th class="col-status-header">Estado</th>
               <th class="col-status-header">Status</th>
               <th class="col-acoes-header"></th>
            </tr>
         </ng-template>

         <ng-template pTemplate="body" let-pessoa>
            <tr>
               <td>{{pessoa.nome}}</td>
               <td>{{pessoa.endereco.cidade}}</td>
               <td class="col-status">{{pessoa.endereco.estado}}</td>
               <td class="col-status">
                  <button type="button" pButton (click)="alternarStatus(pessoa)"
                     label="{{pessoa.ativo ? 'Ativo' : 'Inativo'}}"
                     class="ui-button ui-widget ui-state-default ui-corner-all
                     ui-button-text-only ui-button-{{pessoa.ativo ? 'info' : 'warning'}}">
                  </button>
               </td>
               <td class="col-acoes">
                  <button pButton icon="fa-pencil-square-o" pTooltip="Editar"
                     tooltipPosition="top"
                     [routerLink]="['/pessoas', pessoa.codigo]"></button>
                  <button type="" pButton icon="fa-trash-o"
                     pTooltip="Excluir" tooltipPosition="top"
                     (click)="confirmarExclusao(pessoa)"></button>
               </td>
            </tr>
         </ng-template>

         <ng-template pTemplate="emptymessage">
            <tr>
               <td colspan="6">
                  Nenhuma pessoa encontrada!
               </td>
            </tr>
         </ng-template>
       </p-table>
    </div>
  </div>

  <div class="ui-g-12">
    <a pButton label="Nova Pessoa" routerLink="/pessoas/nova"></a>
  </div>

</div>



