<div class="container">
    <div class="ui-g">

      <form autocomplete="off" (ngSubmit)="pesquisar()">

         <div class="ui-g-12">
         <h1>Lançamentos</h1>
         </div>

         <div class="ui-g-12 ui-fluid">
         <label>Descrição</label>
         <input type="text" pInputText name="desccricao" [(ngModel)]="filtro.descricao">
         </div>

         <div class="ui-g-12">
            <label style="display: block  ">Vencimento</label>
            <p-calendar dateFormat="dd/mm/yy" [inputStyle]=" { width: '95px' } "
               name="vencimentoInicio" [(ngModel)]="filtro.dataVencimentoInicio" [locale]="pt_BR"></p-calendar>

            <label>até</label>
            <p-calendar dateFormat="dd/mm/yy" [inputStyle]=" { width: '95px' } "
            name="vencimentoFim" [(ngModel)]="filtro.dataVencimentoFim" [locale]="pt_BR"></p-calendar>
         </div>
         <div class="ui-g-12">
         <button pButton type="submit" label="Pesquisar"></button>
         </div>
      </form>
   </div>

    <div class="ui-g">
      <div class="ui-g-12">
        <!--<app-lancamentos-grid [lancamentos]="lancamentos"></app-lancamentos-grid>-->

        <p-table [value]="lancamentos" [responsive]="true"
            [paginator]="true" [rows]="filtro.itensPorPagina" [lazy]="true"
            [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)"
               #tabela>

            <ng-template pTemplate="header">
               <tr>
                  <th>Pessoa</th>
                  <th>Descrição</th>
                  <th class="col-data-header">Vencimento</th>
                  <th class="col-data-header">Pagamento</th>
                  <th class="col-valor-header">Valor</th>
                  <th class="col-acoes-header"></th>
               </tr>
            </ng-template>

            <ng-template pTemplate="body" let-lancamento>
               <tr>
                  <td>{{lancamento.pessoa}}</td>
                  <td>{{lancamento.descricao}}</td>
                  <td class="col-data">{{lancamento.dataVencimento | date: 'dd/MM/y'}}</td>
                  <td class="col-data">{{lancamento.dataPagamento | date: 'dd/MM/y'}}</td>
                  <td class="col-valor" [ngStyle]="{ color: lancamento.tipo === 'DESPESA' ? 'red' : 'blue'}">
                     {{lancamento.valor | number: '1.2-2'}}</td>
                  <td class="col-acoes">
                     <button pButton icon="fa-pencil-square-o" pTooltip="Editar"
                        tooltipPosition="top"
                        [routerLink]="['/lancamentos', lancamento.codigo]"></button>
                     <button type="" pButton icon="fa-trash-o"
                        pTooltip="Excluir" tooltipPosition="top"
                        (click)="confirmarExclusao(lancamento)"
                        *ngIf="auth.temPermissao('ROLE_REMOVER_LANCAMENTO')"></button>
                  </td>
               </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
               <tr>
                  <td colspan="6">
                     Nenhum lançamento encontrado!
                  </td>
               </tr>
            </ng-template>

          </p-table>

      </div>

      <div class="ui-g-12">
        <a pButton label="Novo Lançamento" routerLink="/lancamentos/novo"></a>
      </div>

    </div>

  </div>
