<div class="container">
  <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">
    <div class="ui-g">
      <div class="ui-g-12">
         <h1>{{ titulo }}</h1>
      </div>

      <div class="ui-g-12">
         <p-selectButton [options]="tipos" name="tipo"
            formControlName="tipo"></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
         <label>Vencimento</label>
         <p-calendar dateFormat="dd/mm/yy" [locale]="pt_BR" [inline]="false" [showIcon]="true"
            name="dataVencimento"  formControlName="dataVencimento"></p-calendar>
         <app-message [control]="formulario.get('dataVencimento')" error="obrigatoriedade"
            text="Infome uma data para vencimento"></app-message>
      </div>
      <div class="ui-g-6 ui-md-3 ui-fluid">
         <label>{{formulario.get('tipo').value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}</label>
         <p-calendar dateFormat="dd/mm/yy" [locale]="pt_BR" [inline]="false" [showIcon]="true"
            name="dataPagamento" formControlName="dataPagamento"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
         <label>Descrição</label>
         <input pInputText type="text" name="descricao"
            formControlName="descricao">

         <app-message [control]="formulario.get('descricao')" error="obrigatoriedade"
            text="Infome uma descrição"></app-message>

         <app-message [control]="formulario.get('descricao')" error="tamanhoMinimo"
            text="Mímino de {{ formulario.get('descricao').errors?.tamanhoMinimo?.tamanho }} caracteres"></app-message>

      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
         <label>Valor</label>
         <input pInputText type="text" placeholder="0,00" currencyMask name="valor"
            [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false}"
            name="valor" formControlName="valor">

            <app-message [control]="formulario.get('valor')" error="obrigatoriedade"
            text="Infome um valor"></app-message>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="categoria">
         <label>Categoria</label>
         <p-dropdown [options]="categorias" [autoWidth]="false" placeholder="Selecione"
            name="categoria" formControlName="codigo"></p-dropdown>
         <app-message [control]="formulario.get('valor')" error="obrigatoriedade"
            text="Infome uma categoria"></app-message>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="pessoa">
         <label>Pessoa</label>
         <p-dropdown [options]="pessoas" [autoWidth]="false" [filter]="true" placeholder="Selecione"
            name="pessoa" formControlName="codigo"></p-dropdown>

         <app-message [control]="formulario.get('valor')" error="obrigatoriedade"
            text="Infome uma pessoa"></app-message>
      </div>
      <div class="ui-g-12 ui-fluid">
         <label>Observação</label>
         <textarea pInputTextarea rows="3" name="observacao" formControlName="observacao"></textarea>
      </div>

      <div class="ui-g-12">
         <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid"></button>
         <button pButton type="button" label="Novo" class="ui-button-info"
            (click)="novo()"></button>
         <a routerLink="/lancamentos">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
