<div class="container">
   <form autocomplete="off" (ngSubmit)="salvar()" formGroup="formulario">
      <div class="ui-g">
         <div class="ui-g-12">
            <h1>{{ titulo }}</h1>
         </div>

         <div class="ui-g-12 ui-fluid">
            <label>Nome</label>
            <input pInputText type="text" name="nome" formControlName="nome">
            <app-message [control]="formulario.get('nome')" error="obrigatoriedade"
               text="Informe o nome"></app-message>
            <app-message [control]="nome" error="tamanhoMinimo"
               text="Mímino de {{ nome.errors?.minlength?.requiredLength }} caracteres"></app-message>
         </div>

         <div class="ui-g-12 ui-md-9 ui-fluid">
            <label>Logradouro</label>
            <input pInputText type="text" name="logradouro" [(ngModel)]="pessoa.endereco.logradouro"
               #logradouro="ngModel" required>
            <app-message [control]="logradouro" error="obrigatoriedade"
               text="Informe o logradouro"></app-message>
         </div>
         <div class="ui-g-12 ui-md-3 ui-fluid">
            <label>Número</label>
            <input pInputText type="text" name="numero" [(ngModel)]="pessoa.endereco.numero"
               #numero="ngModel" required>
            <app-message [control]="numero" error="obrigatoriedade"
               text="Informe o número"></app-message>
         </div>
         <div class="ui-g-12 ui-md-4 ui-fluid">
            <label>Complemento</label>
            <input pInputText type="text" name="complemento" [(ngModel)]="pessoa.endereco.complemento">
         </div>
         <div class="ui-g-12 ui-md-4 ui-fluid">
            <label>Bairro</label>
            <input pInputText type="text" name="bairro" [(ngModel)]="pessoa.endereco.bairro"
               #bairro="ngModel" required>
            <app-message [control]="bairro" error="obrigatoriedade"
               text="Informe o bairro"></app-message>
         </div>
         <div class="ui-g-12 ui-md-4 ui-fluid">
            <label>CEP</label>
            <p-inputMask name="cep" mask="99.999-999"
               [(ngModel)]="pessoa.endereco.cep" #cep="ngModel" required></p-inputMask>

            <app-message [control]="cep" error="obrigatoriedade"
               text="Informe o CEP"></app-message>
         </div>

         <div class="ui-g-12 ui-md-6 ui-fluid">
            <label>Cidade</label>
            <input pInputText type="text" name="cidade"
               [(ngModel)]="pessoa.endereco.cidade" #cidade="ngModel" required>

            <app-message [control]="cidade" error="obrigatoriedade"
               text="Informe a cidade"></app-message>
         </div>
         <div class="ui-g-12 ui-md-6 ui-fluid">
            <label>Estado</label>
            <input pInputText type="text" name="estado"
               [(ngModel)]="pessoa.endereco.estado" #estado="ngModel" required>

            <app-message [control]="estado" error="obrigatoriedade"
               text="Informe o estado"></app-message>
         </div>

         <div class="ui-g-12">
            <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
            <button pButton type="button" label="Novo" class="ui-button-info"
               (click)="novo(f)"></button>
            <a routerLink="/pessoas">Voltar para a pesquisa</a>
         </div>
      </div>
   </form>
</div>
